<div class="jumbotron">
		<div class="container">
		<h1>Welcome to facebook on Rails</h1>
		<p>Sample App</p>
		<div class="progress">
			<div class="progress-bar" style="width: 40%;"></div>
			<div class="progress-bar progress-bar-warning" style="width: 10%;"></div>
			<div class="progress-bar progress-bar-danger" style="width: 10%;"></div>
			<div class="progress-bar progress-bar-success" style="width: 10%;"></div>
			<div class="progress-bar progress-bar-info" style="width: 30%;"></div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class=" col-md-12">
			<h3>How it works</h3>
			<hr>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h2>Connect with facebook</h2>
			<p>Signup of login to this app with your facebook account</p>
		</div>
		<div class="col-md-4">
			<h2>Create fun posts</h2>
			<p>Start posting cool content. Max 160 characters twitter style!</p>
		</div>
		<div class="col-md-4">
			<h2>Share them</h2>
			<p>Share with your friends on facebook</p>
</div>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br>




			<div class="container well">
	<h2><center>Web Stuff Goes Here</center></h2>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <h3 class="footertext">About</h3>
            <br>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/w8lycl.jpg" class="img-circle" alt="the-brains">
                  <br>
                  <h4 class="footertext">Programmer</h4>
                  <p class="footertext"><br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi60.tinypic.com/2z7enpc.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Artist</h4>
                  <p class="footertext"><br>
                </center>
              </div>
              <div class="col-md-4">
                <center>
                  <img src="http://oi61.tinypic.com/307n6ux.jpg" class="img-circle" alt="...">
                  <br>
                  <h4 class="footertext">Designer</h4>
                  <p class="footertext"><br>
                </center>
              </div>
            </div>
            <div class="row">
            <p><center><a href="#">Contact Stuff Here</a> <p class="footertext">Copyright 2014</p></center></p>
        </div>
    </div>
</div>